body{
	background-color: black;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
#nav{
    width: 100%;
    z-index: 3;
}
logo img{
    margin-top: 2%;
    margin-left: 2%;
    width: 15vw;
    height: 6vw;
    display: inline;
}
.horizontal-list {
    list-style: none;
    display: inline;
    float: right;
    margin-right: 40%;
    margin-top: 4.5%;
}
.horizontal-list li {
    display: inline-block;
    margin: 0px 50px 50px 0px;
    width: 5vw;
}
.horizontal-list li a {
    color: grey;
    text-decoration: none;
    transition: color 0.5s, border-bottom;
    font-size: 1.5rem;
    border-color: #ECA421;
    font-weight: 600;
}
.horizontal-list li a:hover {
    color: white;
    border-bottom: 4px solid  #ECA421;
    border-radius: 1px;
}
#header{
    background-image: url("images/web.png");
    background-color: black;
    height: 250vh;
    width: 100%;
    background-size: contain;
    background-position: 10%;
}
#srm{
    position: absolute;
    color: white;
    font-size: 5rem;
    width: 50%;
    font-weight: 800;
    letter-spacing: 0.25rem;
    top: 41%;
    left: 15%;
    line-height: 6.2rem;
}

#landerpage-btn{
    position: absolute;
    background-color: #ECA421;
    border: none;
    border-radius: 20em;
    top: 86%;
    left: 15%;
    width: 22vh;
    height: 6vh;
    font-size: 1.2rem;
    font-weight: 500;
}

#landerpage-btn a{
    text-decoration: none;
    color: #fff;
}

#arrow{
    position: absolute;
    top: 105%;
    left: 50%;
    display: inline;
}

#social-media{
    display: inline;
    position: relative;
    left: 160%;
    top: 98%;
}

#social-media span{
    font-size: 1.5rem;
    font-weight: 500;
    color: grey;
}

#facebook{
    width: 5vh;
    height: 5vh;
    position: relative;
    top: 0.5em;
    padding: 0 1rem;
}

#instagram{
    width: 4vh;
    height: 4vh;
    position: relative;
    top: 0.3em;
}

.aboutSRM{
    color: #fff;
    position: absolute;
    top: 142%;
    left: 40%;
}

.aboutSRM h1{
    font-size: 3.8rem;
    font-weight: 800;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
}

.aboutSRM h3{
    margin: 0.6rem 0 0 0;
    font-size: 2rem;
    font-weight: 600;
}

.aboutSRM p{
    margin-top: 0.8rem;
    word-spacing: 0.4rem;
    line-height: 1.3;
    font-size: 1.4rem;
    width: 69%;
    text-align: justify;
}

.aboutSRM ul{
    list-style: none;
    display: inline;
    position: relative;
    right: 4.6%;
}

.aboutSRM ul li{
    display: inline-block;
    margin: 0 9% 0 0;
}

.aboutSRM ul h1{
    color: #ECA421;
    letter-spacing: 0;
    margin: 0.8rem 0 0;
    font-size: 4rem;
}

.aboutSRM ul h3{
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}

.culture{
    color: #fff;
    position: absolute;
    top: 223%;
    left: 63%;
}

.culture h1{
    color: grey;
    font-size: 3.2rem;
    font-weight: 600;
    position: relative;
    margin: 0 ;
}

.culture span{
    color: #fff;
    font-size: 5.5rem;
    margin: 0 0.2rem 0;
}

#cult{
    color: #ECA421;
    position: relative;
    left: 15%;
}

.yellowPart{
    background-color: #ECA421;
    width: 90%;
    color: #fff;
    margin: 0;
    padding: 1.2% 0 1.2% 10%;
    font-size: 1.8rem;
    word-spacing: 0.3rem;
}

#btn{
    position: absolute;
    background-color: #000;
    border: none;
    top: 272%;
    border-radius: 20em;
    width: 30vh;
    height: 7vh;
    font-size: 1.2rem;
    font-weight: 600;
    transform: translateY(150%);
}

#btn a{
    text-decoration: none;
    color: #ECA421;
}

#back{
    width: 40%;
    height: 10%;
    background-image: url("images/Lander Page 2-04.png");
    background-size: cover;
}


/* --shivanshi's code -- */
.faded-heading {
    padding-bottom: 0%;
    margin-bottom: -9%;
 }
 
 .faded-heading h1 {
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 30%;
    color: white;
    padding-bottom: 0%;
 }
 
 .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    justify-items: stretch;
    align-items: center;
    overflow-y: hidden;
    padding-left: 4%;
    padding-right: 2%;
    color: white;
 }
 
 h2 {
    font-size: 2vw;
    opacity: 70%;
    display: flex;
    justify-content: flex-start;
    padding-top: 0%;
 }
 h5 {
    font-size: 1.3vw;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    opacity: 80%;
 }
 .container div {
    position: relative;
    border-bottom: 3px solid #ECA421;
    width: 50%;
    display: inline;
    padding: 0;
    margin: 0;
 }
 @media (max-width: 600px) {
    .container { grid-template-columns: repeat(2, 1fr); }
    .faded-heading h1 {
       padding-top: 15% ;
       font-size: 7vw;
    }
  }
 